@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */

@layer base {

}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
		transparent,
		rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

main {
	width: 100%;
	max-width: 512px;
	height: 100%;
	padding: 0 16px;
	margin: 0 auto;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}