.is_not_open_ment {
  width: 100%;
  height: calc(100vh - 263px);
  padding-top: 56px;
  font-size: 15px;
  font-weight: 700;
  color: #808080;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
